:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  margin: 10px 0px;
}

h3 {
  font-size: 48px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 120px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  color: #272142;
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.heading {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 64px;
}
.project-link {
  text-decoration: none;
  color: var(--branding-color);
  padding: 15px 30px;
  border: 1px solid var(--branding-color);
  border-radius: 3px;
}
.project-paragraph {
  opacity: 75%;
  line-height: 2;
}
.project-description {
  padding: 120px 60px;
}
.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--default-font-family);
}
.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}
.my-image {
  border-radius: 20px;
  width: 450px;
}
.active {
  color: var(--branding-color) !important;
}
footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 992px) {
  h1 {
    font-size: 48px;
    margin-top: 6px;
  }
  .hero p {
    font-size: 28px;
    opacity: 90%;
  }
  .hero h2 {
    padding: 0px 25px;
    opacity: 90%;
  }
  .hero {
    padding: 80px 20px;
  }
  .heading {
    font-size: 42px;
  }
  .project-description {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .content-container {
    text-align: center;
    padding: 0px;
  }
  .content h1 {
    font-size: 48px;
  }
}
